<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MEDI-LOCK</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>
<style>
    .border-5 {
        border-width: 5px !important;
        border-radius: 34px;
        padding: 20px;
    }

    .rounded-circle {
        border-radius: 30% !important;
    }
</style>

<body>

    <!-- Navbar Start -->
    <div class="container-fluid sticky-top bg-white shadow-sm">
        <div class="container" style="text-align: center;">
            <a href="index.html" class="navbar-brand" style="font-size: 70px; text-align: center;">MEDI-LOCK</a>
        </div>
        </nav>
    </div>
    </div>
    <!-- Navbar End -->

    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container" style="width: 2000px">
            <div class="col-lg-8 text-center text-lg-start">
                <h2 class="d-inline-block text-primary text-uppercase border-top border-bottom border-5"
                    style="color: white !important; margin: 5px;">Welcome To MEDI-LOCK</h2>
                <p class="display-2" style=" color: #1d2a4d; font-size: 50px;"> Empowering Healthcare with Secure
                    Medical Document Storage</p>
                <div class="pt-2">
                    <a href="login.html" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2">LOGIN</a>
                    <a href="signup.html" class="btn btn-outline-light rounded-pill py-md-3 px-md-5 mx-2">SIGNUP</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Hero End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-1">
                        <!-- <img class="position-absolute w-100 h-100 rounded" src="img/index.jpg" style="object-fit: cover;"> -->
                        <img class=" position-relative rounded" src="/img/index-2.jpg"
                            style="object-fit: cover; width: 500px; height: 500px;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-top border-5">About
                            Us</h5>
                        <h1 class="display-5">Streamline Your Healthcare Records.    Store, Access, and Share with Ease!!
                        </h1>
                    </div>
                    <p>MEDI-LOCK: Your secure and convenient digital platform for medical records. Access, manage, and
                        share your documents seamlessly, ensuring privacy and eliminating paper-based risks. Instant
                        access to your medical history and improved collaboration with healthcare providers. Join
                        MEDI-LOCK for a greener, more efficient healthcare experience.</p>
                    <div class="row g-3 pt-3">
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <img src="img/key.png" alt="" width="50px" height="50px" style="margin: 10px">
                                <h6 class="mb-0">EASY<small class="d-block text-primary">ACCESS</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <img src="img/insurance.png" alt="" width="50px" height="50px" style="margin: 11px;">
                                <h6 class="mb-0">SECURE<small class="d-block text-primary">PLATFORM</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <img src="img/file.png" alt="" width="50px" height="50px" style="margin: 11px;">
                                <h6 class="mb-0">REDUCED<small class="d-block text-primary">PAPERWORK</small></h6>
                            </div>
                        </div>
                        <div class="col-sm-3 col-6">
                            <div class="bg-light text-center rounded-circle py-4">
                                <img src="img/cloud.png" alt="" width="50px" height="50px" style="margin: 11px;">
                                <h6 class="mb-0">CLOUD<small class="d-block text-primary">STORAGE</small></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Pricing Plan Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 700px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-top border-5">Storage
                    Packages</h5>
                <h1 class="display-4">Your Storage, Our Expertise Elevate Your Experience</h1>
            </div>
            <div class="owl-carousel price-carousel position-relative" style="padding: 0 45px 45px 45px;">
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="img/price-2.jpg" alt="">
                        <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center"
                            style="background: rgba(29, 42, 77, .8);">
                            <h3 class="text-white">Basic Plan</h3>
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top fw-normal"
                                    style="font-size: 22px; line-height: 45px;">₹</small>99<small
                                    class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/
                                    Month</small>
                            </h1>
                        </div>
                    </div>
                    <div class="text-center py-5" style="font-size: 20px; color:#1d2a4d">
                        <p>Storage available upto <strong>100MB</strong></p>
                        <p>Contact us Services</p>
                        <p>View Documents</p>
                        <a href="https://rzp.io/l/cnRTMG5y6B" class="btn btn-primary rounded-pill py-3 px-5 my-2">Apply
                            Now</a>
                    </div>
                </div>
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="img/price-3.jpg" alt="">
                        <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center"
                            style="background: rgba(29, 42, 77, .8);">
                            <h3 class="text-white">Prime Plan</h3>
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top fw-normal"
                                    style="font-size: 22px; line-height: 45px;">₹</small>149<small
                                    class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/
                                    Month</small>
                            </h1>
                        </div>
                    </div>
                    <div class="text-center py-5" style="font-size: 20px; color:#1d2a4d">
                        <p>Storage available upto <strong>500MB</strong></p>
                        <p>Virtual Patient & Doctor interaction</p>
                        <p>View & Download Documents</p>
                        <a href="https://rzp.io/l/e1TVmKD" class="btn btn-primary rounded-pill py-3 px-5 my-2">Apply
                            Now</a>
                    </div>
                </div>
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="img/price-4.jpg" alt="">
                        <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center"
                            style="background: rgba(29, 42, 77, .8);">
                            <h3 class="text-white">Superior Plan</h3>
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top fw-normal"
                                    style="font-size: 22px; line-height: 45px;">₹</small>199<small
                                    class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/
                                    Month</small>
                            </h1>
                        </div>
                    </div>
                    <div class="text-center py-5" style="font-size: 20px; color:#1d2a4d">
                        <p>Storage available upto <strong>1024MB</strong></p>
                        <p>Book an appointment with doctor</p>
                        <p>Order medicines online</p>
                        <a href="https://rzp.io/l/w7lMHZ0QlM" class="btn btn-primary rounded-pill py-3 px-5 my-2">Apply
                            Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing Plan End -->

    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 1000px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Testimonial</h5>
                <h1 class="display-4">Join the growing community of satisfied patients using MEDI-LOCK</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle mx-auto" src="img/testimonial-1.jpg" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                    style="width: 60px; height: 60px;">
                                    <i class="fa fa-quote-left fa-2x text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-4 fw-normal">I have been using the storage services provided by MEDI-LOCK for
                                the past year, and I must say it has been a game-changer for me. Being able to store and
                                access all my medical documents in one secure place has made my life so much easier. The
                                virtual interaction feature is fantastic, allowing me to communicate with my doctors
                                conveniently. I highly recommend MEDI-LOCK to anyone looking for a reliable and
                                efficient healthcare document management solution.</p>
                            <hr class="w-25 mx-auto">
                            <h3>Sarah M</h3>
                            <h6 class="fw-normal text-primary mb-3">Teacher</h6>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle mx-auto" src="img/testimonial-2.jpg" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                    style="width: 60px; height: 60px;">
                                    <i class="fa fa-quote-left fa-2x text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-4 fw-normal">Since I started using MEDI-LOCK, I no longer have to worry about carrying physical copies of my medical reports to every doctor's appointment. The storage space provided is more than enough to keep all my documents organized and easily accessible. I especially love the online appointment booking feature, which saves me time and effort. The customer service team is also incredibly helpful and responsive. MEDI-LOCK has truly simplified my healthcare journey</p>
                            <hr class="w-25 mx-auto">
                            <h3>John D</h3>
                            <h6 class="fw-normal text-primary mb-3">Bussinessman</h6>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle mx-auto" src="img/testimonial-3.jpg" alt="">
                                <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                    style="width: 60px; height: 60px;">
                                    <i class="fa fa-quote-left fa-2x text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-4 fw-normal">As a busy professional, having a reliable and secure platform to store and manage my medical records is crucial. MEDI-LOCK has exceeded my expectations in terms of convenience and data security. I can easily view and download my documents whenever I need them, even when I'm on the go. The option to order medicines online is an added bonus. I am impressed with the level of professionalism and user-friendliness MEDI-LOCK offers. It's a service I trust and highly recommend.</p>
                            <hr class="w-25 mx-auto">
                            <h3>Emily P</h3>
                            <h6 class="fw-normal text-primary mb-3">Designer</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    l̥ō

    <!-- Javascript -->
    <script src="js/main.js"></script>
</body>

</html>